body main .breadcrumbs div {
    padding: 10px;
}
html {
    font-size: 18px;
}

.breadcrumbs {
    text-transform: uppercase;
}
.breadcrumbs a {
    padding: 0px 10px;
}

.header {
  color: #87BA8A;
  font-weight: 300;
}

ul#mitbringsel-list {
    list-style-type: circle;
    padding-left: 40px;
}
ul#mitbringsel-list li {
    list-style-type: circle;
}

.btn, .btn-large {
    background-color: #388E3C;
}

.btn:hover, .btn-large:hover {
    background-color: #4CAF50;
}